
.navigationWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #222;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    color: white;
    text-transform: uppercase;
    overflow: hidden;
  }
  .navigationWrapper .logoWrapper {
    display: flex;
  }
  .navigationWrapper .logoWrapper .stylish {
    font-weight: bold;
  }
  .navigationWrapper .logoWrapper .logo {
    padding-left: 4px;
    color: #FFED86;
  }
  .navigationWrapper .navigation {
    display: flex;
    list-style-type: none;
  }
  .navigationWrapper .navigation li {
    opacity: 1;
    list-style-type: none;
    color: white;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
  }
  .navigationWrapper .navigation .parent {
    padding: 0 10px;
    cursor: pointer;
  }
  .navigationWrapper .navigation .parent .link {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    color: white;
  }
  .navigationWrapper .navigation .parent .link:hover {
    color: #FFED86;
  }
  .navigationWrapper .navigation .parent .link .fa-minus {
    opacity: 0;
    transition: all 0.1s ease-in-out;
    position: absolute;
    left: -16px;
    top: 3px;
  }
  .navigationWrapper .navigation .parent .link .fa-plus {
    opacity: 1;
    transition: all 0.1s ease-in-out;
  }
  .navigationWrapper .navigation .parent .link .fas {
    color: #FFED86;
    margin: -2px 4px 0;
    font-size: 10px;
    transition: all 0.1s ease-in-out;
  }
  .navigationWrapper .navigation .subnavigation {
    display: none;
    list-style-type: none;
    width: 500px;
    position: absolute;
    top: 40%;
    left: 25%;
    margin: auto;
    transition: all 0.1s ease-in-out;
    background-color: #222;
  }
  .navigationWrapper .navigation .subnavigation li a {
    font-size: 17px;
    padding: 0 5px;
  }
  
  .active.parent {
    transform: translate(-40px, -25px);
  }
  .active.parent .link {
    font-size: 12px;
  }
  .active.parent .link .fa-minus {
    opacity: 1 !important;
    font-size: 8px;
  }
  .active.parent .link .fa-plus {
    opacity: 0 !important;
  }
  .active.parent .subnavigation {
    display: flex;
  }
  
  .active#clients .subnavigation {
    transform: translate(-150px, 17px);
  }
  
  .active#services .subnavigation {
    transform: translate(-290px, 17px);
  }
  
  .invisible {
    opacity: 0 !important;
    transform: translate(50px, 0);
  }